* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.page_title {
    font-size: 30px;
}

/*logo*/
.logo {
    display: flex;
    width: 400px;
    height: auto; /* Maintains aspect ratio */ 
    margin-left: 50px;

}