/*header properties*/
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(158, 197, 113);
    height: 150px;
}

/*navigation menu*/
.nav_menu {
    margin-right: px;
    padding: 1px;
    text-align: center;
    display: flex;
    align-items: stretch;
    flex-direction: row;
    height: 100%;
}

.nav_menu ul {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 100%;
    margin: 0;
    padding: 0;
    gap: 1px;
    
  }
  
.nav_menu li {
    display: flex;
    height: 100%;
    list-style: none;
}

.nav_menu a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 20px;
    color: white;
    text-decoration: none;
    font-size: 60px;
}
