h1 {
    color: black; 
}

body {
    color: black;
}

a {
    text-align: center;
    font-size: 20px;
    background-color: grey; 
    color: green;
    font-family: monospace;
    text-decoration: none;
}

img {
    width: 300px;
    height: auto; 
}

